@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
  font-family: 'bebas';
  src: url('./assets/fonts/bebasneue-book-webfont.woff') format('woff'),
  url('./assets/fonts/bebasneue-book-webfont.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'bebas', 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
